extends layout
block content
    main.admin
        .container
            .row
                .col-md-6
                    .add-post
                        form(method='POST', action='/admin/add-post' enctype='multipart/form-data')
                            .form-group
                                label Title:
                                input.form-control(name='title' type='text' required)
                            .form-group
                                label Post
                                textarea.form-control(name='text' id='post')
                            .form-group
                                label Author:
                                select(name="author")
                                    for author in users
                                        option(value=`${author._id}`)=author.name
                            .form-group
                                label Categories:
                                select(name="category")
                                    option(selected value='') None
                                    for category in categories
                                        option(value=`${category._id}`)=category.name
                            .form-group
                                label Image:
                                input.form-control(name='myImage' type='file' required)
                                //- select.form-control(name='author')
                                //-     option(value='Brad Traversy') Brad Traversy
                                //-     option(value='John Doe') John Doe
                            input.btn.btn-default(type='submit' value='Save')
                            //- enctype="multipart/form-data"
                .col-md-6
                    .add-post
                        form(method='POST', action='/admin/add-category')
                            .form-group
                                label Name of category:
                                input.form-control(name='name' type='text' required)
                                //- select.form-control(name='author')
                                //-     option(value='Brad Traversy') Brad Traversy
                                //-     option(value='John Doe') John Doe
                            input.btn.btn-default(type='submit' value='Create')

        script
            | ClassicEditor.create(document.querySelector('#post')).catch(error => {console.error(error);});
        