extends layout
mixin truncate(str, maxlength)
    -if (str.length > maxlength)
        -let text = str.slice(0, maxlength - 3) + '...'
        | !{text}
    -else
        | !{str}
block content
    main.blog
        .container
            .blog-content
                -if(posts.length >= 1)
                    for item in posts 
                        .post
                            -if(isAdmin || isAuthor)
                                .edit
                                    a(class="edit-post" href=`/blog/edit/${item._id}`)
                                        <i class="fa fa-pencil"></i>
                                    a(class='delete-post' data-id=`${item._id}`)
                                        <i class="fa fa-trash"></i>
                            .row
                                .col-md-2
                                    .left-info
                                        .data
                                            span.month=month.month_short_names[item.date.getMonth()]
                                            span.day=item.date.getDate()
                                            span.year=item.date.getFullYear()
                                        .comments
                                            a(href='#')
                                                span.number-comment=item.comments.length
                                                | comments
                                        span
                                            i.fa.fa-eye    #{item.views}
                                .col-md-10.line-dashed
                                    .circle
                                    .right-blog
                                        .blog-image
                                            img(src=`${item.imagePath}`, alt='blog')
                                        .posted
                                            p
                                                | posted by 
                                                a(href=`/profile/${item.author._id}`) #{item.author.name} #{item.author.surname}
                                            -if (item.category)
                                                p
                                                    | category 
                                                    a(href='#')=item.category.name
                                        .name-of-blog
                                            a(href=`/blog/post/${item._id}`)=item.title
                                        .description-of-blog
                                            +truncate(item.text, 1000)
                                        .continue-reading
                                            a.btn-read-more(href=`/blog/post/${item._id}`) continue reading
                    -if (pages >= 0)
                        .blog-navigation
                            ul.nav
                                //- -if (current == 1)
                                //-     li
                                //-         a.active(href='/blog/1') 1
                                -let i = (Number(current) > 5 ? Number(current) - 4 : 1)
                                -if (i != 1)
                                    li
                                        a(href='#') ...
                                -for (; i <= (Number(current) + 4) && i <= pages; i++)
                                    -if(i == current)
                                        li
                                            a.active=i
                                    -else
                                        li
                                            a(href=`/blog/${i}`)=i
                                -if (i == Number(current) + 4 && i < pages)
                                    li
                                        a(href='#') ...
                -else
                    h2 There aren't posts here!
