extends layout
block content
    main.admin
        .container
            .row
                .col-md-6.col-md-offset-3
                    .add-post
                        form(method='POST', action=`/blog/edit/${post._id}`)
                            .form-group
                                label Title:
                                input.form-control(name='title' type='text' value=`${post.title}`)
                            .form-group
                                label Post
                                textarea.form-control(name='text' id='post')=post.text
                            .form-group
                                label Author:
                                select(name="author")
                                    for author in users
                                        option(value=`${author._id}`)=author.name
                            .form-group
                                label Categories:
                                select(name="category")
                                    for category in categories
                                        option(value=`${category._id}`)=category.name
                            .form-group
                            input.btn.btn-default(type='submit' value='Save')
    script
        | ClassicEditor.create(document.querySelector('#post')).catch(error => {console.error(error);});