.container-fluid.header-top
    .container
        .row
            .col-md-4
                .toll-free
                    i.icon-toll
                    |  Toll for free: 
                    a(href='tel:')
                        span=main_info.toll_for_free
            .col-md-5
                .call-now
                    i.icon-call
                    |  Call now: 
                    a(href='tel:')
                        span=main_info.call_now
            .col-md-offset-1.col-md-2
                include socials