extends index-layout

block content
    main.home
        section#our-advantages
            .container
                .row
                    .col-md-12
                        header.section-title
                            h2 Our Advantage{h2}
                .advantage-items
                    .row.slider
                        .col-md-4
                            a.advantages-item(href='#')
                                i.icon.icon-ad-icon
                                span any academic level
                        .col-md-4
                            a.advantages-item(href='#')
                                i.icon.icon-ad-icon2
                                span Over 300 words per page
                        .col-md-4
                            a.advantages-item(href='#')
                                i.icon.icon-ad-icon3
                                span Free plagiarism report
                        .col-md-4
                            a.advantages-item(href='#')
                                i.icon.icon-ad-icon4
                                span 20% off your first order
                        .col-md-4
                            a.advantages-item(href='#')
                                i.icon.icon-ad-icon5
                                span Direct communication with the writer
                        .col-md-4
                            a.advantages-item(href='#')
                                i.icon.icon-ad-icon6
                                span Flexible discount program
        section.info-company
            .container
                .row
                    .col-md-12
                        header.section-title
                            h1
                                | COMPANYNAME.com has come forward 
                                br
                                |                      to provide you with high quality papers{h1}
                    .col-md-12
                        .info-paragraph
                            p
                                | Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful
                                | friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever struggled to write an essay or prepare a speech only to find that the deadline is getting closer, and the work is not ready yet?
                                | Are you desperate for someone to have your paper done? Ordering it online is a really convenient option, but you must be sure that the final product is worth the price. EssaysService.com is one of the leading online writing
                                | centers that deliver only premium quality essays, term papers, and research papers.
                            br
                            p
                                | Once you place an order and provide all the necessary instructions, one of our writers will start working on it. Be sure we won’t choose a person to do your paper at random. The writer assigned will hold an academic degree in the
                                | respective area of expertise, which makes it possible for him/her to find the relevant information, carry out exhaustive research, and develop a comprehensible and well-organized document.
                            p
                                | The final product will meet all your specifications regarding the content and formatting style. What is more, you will not have to proofread it for any grammatical or spelling errors, because our professionals have a really
                                | good command of the English language.
                            p
                                | All the papers EssaysService.com delivers are completely original as we check every single work for plagiarism via advanced plagiarism detection software. You will receive a free plagiarism report together with your essay to
                                | show its originality.
                            br
                            p
                                | Being tempted by low prices and promises of quick paper delivery, you may choose another paper writing service. The truth is that more often than not their words are hollow. While the main purpose of such doubtful companies
                                | is to cash in on credulity of their clients, the prime objective of EssaysService.com is clients’ satisfaction. We do fulfill our guarantees, and if a customer is displeased with the final paper he/she had received (which
                                | hardly ever occurs), he/she will surely get a full refund. However, a refund request is acceptable only within 14 days of the initial deadline.
        section.container-fluid.how-it-works
            .container
                .row
                    header.section-title
                        h2 How it works
                .row.border-bottom
                    .col-md-4
                        .icon-text.jc_s
                            .step-icon-top
                                .step-square
                                    i.icon2.icon-Shade
                                .step-line
                                .step-circle
                            span.span-top
                                | 1. Place
                                br
                                |  Your Order
                    .col-md-4
                        .icon-text.jc_c
                            .step-icon-top.float_right
                                .step-square
                                    i.icon2.icon-Shade3
                                .step-line
                                .step-circle
                            span.span-top
                                | 3. Your Order is
                                br
                                | completed
                    .col-md-4
                        .icon-text.jc_e
                            .step-icon-top.float_right
                                .step-square
                                    i.icon2.icon-Shade5
                                .step-line
                                .step-circle
                            span.span-top.span-top-right 5. Download
                .row
                    .col-md-6
                        .icon-text.jc_c
                            .step-icon-bottom
                                .step-circle.step-circle-yellow
                                .step-line
                                .step-square
                                    i.icon2.icon-Shade2
                            span.as_e.span-bottom
                                | 2. Upload Additional
                                br
                                | Information
                    .col-md-6
                        .icon-text.jc_c
                            .step-icon-bottom
                                .step-circle.step-circle-yellow
                                .step-line
                                .step-square
                                    i.icon2.icon-Shade4
                            span.as_e.span-bottom
                                | 4. Free plagiarism
                                br
                                | report
        section.lists-info.section-content
            .container
                .row
                    .col-md-6.col-xs-12
                        header.section-title
                            h2 Ordering a Paper at Company.com Is Worth It{h2}
                        .list-info
                            ul.list-style
                                li
                                    | Any type of writing paper assignment – from a high school essay to university term paper.
                                li Our writers always follow the customers' requirements very carefully.
                                li 100% original paper and a plagiarism report to prove it.
                                li
                                    | Your order will be delivered in a timely manner. If we fail to meet the deadline, the customer will get his/her money back.
                                li A writer who is an expert in the respective field of study.
                                li
                                    | In case the essay or research paper doesn’t satisfy your requirements, you can ask for revision. We will make all necessary changes and edit your work until you are 100%
                                li
                                    | satisfied with the final results. Just make sure that you put in a request for revision within 48 hours of the initial deadline. The only exception is made for 20+ page papers – you may submit your request for revision not
                                    | later than a month after you receive your paper.
                                li Loyal customers have the privilege of buying papers at a reduced price.
                            .col-md-offset-3.col-md-6.col-sm-offset-3.col-sm-6
                                a.btn-read-more(href='#')
                                    i.fa.fa-angle-right
                                    | read more
                    .col-md-6.col-xs-12
                        header.section-title
                            h2 CompanyName.com is the best Essay Writing Service{h2}
                        .list-info
                            p
                                | The final product will meet all your specifications regarding the content and formatting style. What is more, you will not have to proofread it for any grammatical or spelling errors, because our professionals have a really good
                                | command of the English language.
                            p
                                | ll the papers EssaysService.com delivers are completely original as we check every single work for plagiarism via advanced plagiarism detection software. You will receive a free plagiarism report together with your essay to show
                                | its originality. Being tempted by low prices and promises of quick paper delivery, you may choose another paper writing service. The truth is that more often than not their words are hollow. While the main purpose of such doubtful
                                | companies is to cash in on credulity of their clients, the prime objective of EssaysService.com is clients’ satisfaction. We do fulfill our guarantees, and if a customer is displeased with the final paper he/she had received
                                | (which hardly ever occurs), he/she will surely get a full refund. However, a refund request is acceptable only within 14 days of the initial deadline.
                            .col-md-offset-3.col-md-6.col-sm-offset-3.col-sm-6
                                a.btn-read-more(href='#')
                                    i.fa.fa-angle-right
                                    | read more



