header.header
    include header-top
    include navigation
    .container-fluid.header-middle
        .container
            .row
                .col-lg-2.col-md-3
                    a.btn-chat(href='#')
                        i.icon-comments
                        i.fa.fa-angle-right
                        | live chat
                .col-lg-8.col-md-9.col-xs-12
                    span.header-middle-title Custom Writing service
                .col-lg-offset-3.col-lg-5.col-md-offset-5.col-md-7.col-xs-12
                    span.header-middle-title2 the key to success 
                .col-lg-offset-3.col-lg-5.col-md-offset-6.col-md-6.col-sm-12.hidden-xs
                    .header-info
                        h5 You are at right place!
                        p EssayService.com is a top quality writing service
                .col-lg-offset-6.col-lg-3.col-md-offset-8.col-md-3.col-sm-offset-3.col-sm-6.col-xs-offset-2.col-xs-8
                    a.btn-order(href='#') order now
                .multi-bg
    .container-fluid.header-footer
        .container
            .row
                .col-lg-6.col-md-9
                    .header-footer-content
                        p
                            | Special Offer: 
                            a(href='#') Get limited discounts
                            |  on the first order
                .col-lg-3.col-md-3
                    a.btn-discount(href='#') the list of discount
