extends layout
block content
    main.login
        .container
            .login-form
                .row
                    .col-md-offset-3.col-md-6.col-sm-offset-1.col-sm-10.col-xs-12
                        .bg-title
                            span Login
                            button.close
                                span.close-line.close-line-top
                                span.close-line.close-line-bot
                        .green-content
                            -if (hasErrors)
                                .error
                                    ul
                                        for error in messages
                                            li= error
                            form(action='/user/login' method='POST')
                                input#rememberme(type="checkbox" name="rememberme" style="display: inline-block!important; width:auto; height:auto; margin-right: 5px;")
                                label(for='rememberme') Remember Me
                                input(type='text', placeholder='Login' name='login')
                                input(type='password', placeholder='Password' name='password')
                                .login-links
                                    .forgot-pass
                                        a(href='#') Forgot your password?
                                    .reg-order
                                        a(href='#') Registration & order
                                    .reg
                                        a(href='/user/registration') Free registration
                                input(type='hidden' name='_csrf' value=`${csrfToken}`)
                                input.btn-order(type='submit' value='Login')
