.container-fluid.header-nav
        .container
            .row
                .col-md-2.col-sm-5.col-xs-6
                    a.logo(href='/')
                        img(src='/img/logo.png', alt='logo')
                button.burger
                    span.burger-line.burger-line-top
                    span.burger-line.burger-line-mid
                    span.burger-line.burger-line-bot
                .col-md-10.width-100
                    if main_info.main_menu
                        nav
                            ul
                                -for (item in main_info.main_menu)
                                    li
                                        -if (main_info.main_menu[item] == '/order') 
                                            a(href=`${main_info.main_menu[item]}` class="active")=item
                                            -continue;
                                        -if (login && main_info.main_menu[item] == '/user/login')
                                            a(href=`/profile`) profile
                                            -continue;
                                        a(href=`${main_info.main_menu[item]}`)=item
                                -if(login && isAdmin || login && isAuthor)
                                    li
                                        a(href=`/admin`) admin

                    else
                        h1 Main menu is empty!