extends layout
block content
    main.profile.section-content
        .container
            .status-profile
                .row
                    .col-md-12
                        ul.status-list
                            li
                                | Welcome, 
                                span.name #{user.name} #{user.surname}
                            li
                                | Account status: 
                                span.status
                                    if user.isAdmin == true
                                        | Admin
                                    else
                                        | standart
                            li
                                | Discount: 
                                span.discount 0%
                                |  [
                                a.upgrade(href='#') upgrade to 15%
                                | ]
                            li
                                | Discount code: 
                                span.discount-code web@gmail.com
        .container-fluid.width-991
            .container.width-991
                .navigation-profile
                    .row
                        .col-lg-offset-2.col-lg-8.col-md-offset-1.col-md-10
                            ul.nav
                                li
                                    a(href='#') my profile
                                li
                                    a(href='#') personal profile
                                li
                                    a(href='#') terms & conditions
                                li
                                    a(href='#') affiliate program
                                li
                                    a(href='/user/logout') log out
        .container
            .profile-content
                .row
                    .col-md-5
                        .personal-info
                            header
                                h3 Your Personal Information
                            label(for='login') Login (discount code)
                            input#login(type='text')
                            label(for='password') Password
                            input#password(type='password')
                            label(for='first-name') First name
                            input#first-name(type='text')
                            label(for='last-name') Last name
                            input#last-name(type='text')
                            label(for='password2') Password
                            input#password2(type='password')
                            label(for='alt-password') Alternative password
                            input#alt-password(type='password')
                            span Receive E-mail
                            label.checkbox(for='checkbox')
                                input#checkbox(type='checkbox')
                                |  I agree to receive phone calls from you at night in case of emergency
                            label(for='phone') Contact phone
                            input#alt-password(type='tel')
                            label(for='alt-phone') Alternative phone
                            input#alt-password(type='tel')
                            span Allow night calls
                            label.night(for='night')
                                input#night(type='checkbox')
                                |  I agree to receive phone calls from you at night in case of emergency
                            a.btn-read-more(href='#') save
                    .col-md-7
                        .orders
                            header
                                h3 Processing orders
                                h3 Completed orders
                            .order
                                table
                                    thead
                                        tr
                                            td Date
                                            td Order ID
                                            td Title/Topic
                                    tbody
                                        tr
                                            td 2016.02.18
                                            td.order-id 0307722205
                                            td test
                                ul.order-list
                                    li
                                        a(href='#') Order details
                                    li
                                        a(href='#')
                                            | Files (
                                            span 0
                                            | )
                                    li
                                        a(href='#') Messages (0/0)
                                    li
                                        a(href='#') Contact us
                            .order
                                table
                                    thead
                                        tr
                                            td Date
                                            td Order ID
                                            td Title/Topic
                                    tbody
                                        tr
                                            td 2016.02.18
                                            td.order-id 0307722205
                                            td test
                                ul.order-list
                                    li
                                        a(href='#') Order details
                                    li
                                        a(href='#')
                                            | Files (
                                            span 0
                                            | )
                                    li
                                        a(href='#') Messages (0/0)
                                    li
                                        a(href='#') Contact us
                            .order
                                table
                                    thead
                                        tr
                                            td Date
                                            td Order ID
                                            td Title/Topic
                                    tbody
                                        tr
                                            td 2016.02.18
                                            td.order-id 0307722205
                                            td test
                                ul.order-list
                                    li
                                        a(href='#') Order details
                                    li
                                        a(href='#')
                                            | Files (
                                            span 0
                                            | )
                                    li
                                        a(href='#') Messages (0/0)
                                    li
                                        a(href='#') Contact us
        .container-fluid.btn-order-section.gray-bg
            .container
                .row
                    .col-md-offset-4.col-md-4.col-xs-offset-3.col-xs-6
                        a.btn-order(href='#') order now
