extends layout
block content
    main.register
        .container
            .login-form
                .row
                    .col-md-offset-3.col-md-6.col-sm-offset-1.col-sm-10.col-xs-12
                        .bg-title
                            span Register Form
                            button.close
                                span.close-line.close-line-top
                                span.close-line.close-line-bot
                        .green-content
                            -if (hasErrors)
                                .error
                                    ul
                                        for error in messages
                                            li= error
                            form(action='/user/registration' method="post")
                                input(type='text', placeholder='Login' name='login')
                                input(type='text', placeholder='Name' name='name')
                                input(type='text', placeholder='Surname' name='surname')
                                input(type='email', placeholder='Email' name='email')
                                input(type='password', placeholder='Password' name='password')
                                input(type='password', placeholder='Confirm password' name='confPassword')
                                input(type='hidden' name='_csrf' value=`${csrfToken}`)
                                .btn-register
                                    input.btn-order(type='submit' value="Register")
