header.header
    include header-top
    include navigation
    .container-fluid.main-title.header-line
        .container
            .row
                .col-md-12
                    .title
                        span=title
