extends layout
block content
    main.single
        .container
            .post-content
                -if(isAdmin)
                    .edit
                        a(class="edit-post" href=`/blog/edit/${post._id}`)
                            <i class="fa fa-pencil"></i>
                .post
                    .row
                        .col-md-2
                            .left-info
                                .data
                                    span.month=month.month_short_names[post.date.getMonth()]
                                    span.day=post.date.getDate()
                                    span.year=post.date.getFullYear()
                                .comments
                                    a(href='#')
                                        span.number-comment #{post.comments.length}
                                        | comments
                                span
                                    i.fa.fa-eye    #{post.views}
                        .col-md-10.line-dashed
                            .circle
                            .right-blog
                                .blog-image
                                    img(src=`${post.imagePath}`, alt='image')
                                .posted
                                    p
                                        | posted by 
                                        a(href='#') #{post.author.name} #{post.author.surname}
                                    p
                                        | category 
                                        a(href='#')=post.category.name
                                .name-of-blog=post.title
                                .description-of-blog !{post.text}
                .comments-form
                    .row
                        .col-md-offset-2.col-md-10
                            .comments-content
                                header
                                    h3 Comments
                                for comment in post.comments.reverse()
                                    .comment
                                        -if(isAdmin)
                                            .edit
                                                a(class='delete-comment' href=`/blog/delete-comment/${comment._id}` data-id=`${comment._id}`)
                                                    <i class="fa fa-trash"></i>
                                        .image-user
                                            img(src='img/user.png', alt='')
                                        .comment-content
                                            .name-date
                                                a.name-user(href='#')= comment.author
                                                .date-content
                                                    span.date(style="margin-right:10px;") #{month.month_names[comment.date.getMonth()]} #{comment.date.getDate()}, #{comment.date.getFullYear()} 
                                                    |  at 
                                                    span.time #{comment.date.getHours()}.
                                                        -if(comment.date.getMinutes() < 10)
                                                            | #{'0' + comment.date.getMinutes()}
                                                        -else
                                                            | #{comment.date.getMinutes()}
                                            .comment-desc
                                                p= comment.text
                                            .reply-likes
                                                a.reply(href='#')
                                                    | Reply
                                                    i.icon-reply
                                                .likes
                                                    a.like(href='#')
                                                        i.fa.fa-thumbs-o-up
                                                    span.sum-likes 13
                                //- .comment.comment-under
                                //-     .image-user
                                //-         img(src='img/user.png', alt='')
                                //-     .comment-content
                                //-         .name-date
                                //-             a.name-user(href='#') Megan
                                //-             .date-content
                                //-                 span.date November 10, 2015
                                //-                 |  at 
                                //-                 span.time 7.55
                                //-         .comment-desc
                                //-             p
                                //-                 | Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing... 
                                //-                 a(href='#') Continue reading 
                                //-         .reply-likes
                                //-             a.reply(href='#')
                                //-                 | Reply
                                //-                 i.icon-reply
                                //-             .likes
                                //-                 a.like(href='#')
                                //-                     i.fa.fa-thumbs-o-up
                                //-                 span.sum-likes 13
                                .comment-panel
                                    .row
                                        .col-md-8
                                            .comment-navigation
                                                ul.nav
                                                    li
                                                        a(href='#')
                                                            i.fa.fa-angle-left
                                                    li
                                                        a.active(href='#') 1
                                                    li
                                                        a(href='#') 2
                                                    li
                                                        a(href='#') 3
                                                    li
                                                        a(href='#') 4
                                                    li
                                                        a(href='#') 5
                                                    li ...
                                                    li
                                                        a(href='#') 6
                                                    li
                                                        a(href='#')
                                                            i.fa.fa-angle-right
                                        .col-md-4
                                            .see-comments
                                                a.btn-read-more(href='#') see all comments
                .reply
                    .row
                        .col-md-offset-2.col-md-10
                            .reply-form
                                -if (login)
                                    header
                                        h3 Leave a reply
                                        p
                                            | Your email address will not be published. Required fields are marked
                                            sup ✱
                                    form.reply-content#comment-form
                                        .row
                                            .col-md-6
                                                label(for='author')
                                                    | Name
                                                    sup ✱
                                                input#first-name(type='text' name='author' value=`${user.name} ${user.surname}` required disabled)
                                                label(for='email')
                                                    | Email
                                                    sup ✱
                                                input#email(type='text' name='email' value=`${user.email}` required disabled)
                                            .col-md-6
                                                .message-area
                                                    label(for='message') Comments
                                                        sup ✱
                                                    textarea#message(name='text' required placeholder="Your comment...")
                                                    a#comment-btn.btn-read-more(href='#' data-id=`${post._id}`) post comments
                                -else
                                    header
                                        h3 Leave a reply
                                        p You must 
                                            a(href='/user/login' target='_blank') #[strong login] 
                                            | if you wanna send your comment!
