.social
    | Join us:
    a.pinterest(href=`${main_info.links.pinterest}` target='_blank')
    a.twitter(href=`${main_info.links.twitter}` target='_blank')
    a.facebook(href=`${main_info.links.facebook}` target='_blank')